*{
    margin: 0;
    padding: 0;
    
  }
  .card{
  border: 10px solid;
  width: 30%;
  background-color: #9fd3c7;
  border-radius: 5%;
  
  }
  .card img{
  width: 50%;
  
  
  }
  .list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
  
  }
  .bigmodal{
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.664);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .modal{
    background-color: white;
    width: 25%;
    padding: 100px;
    border-radius: 10px;
    position: relative;
     
    
  }
  .modal h1{
    padding-bottom: 20px;
    font-size: 1.9rem;
  }
  .modal h2{
    font-size: 1.9rem;
  }
  .modal button{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 1.6rem;
  }